body{
    background-color: blueviolet;
}
h1{
    font-size: large;
    color: white;
}
#alpha h1{
    font-size: xx-large;
    color: white;
}
footer{
    background-color: #4a90e2;
    font-family: cursive;
}